.navLink {
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin-right: 25px;
}

.productsLink {
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin-right: auto;
}

.IconLink {
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartIcon {
    height: 2rem;
    width: 2rem;
    margin: 5px;
}